<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %} Micro Blog - {{ title }} {% else %} Micro Blog {% endif %}
    </title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>

    <main style="margin-top: 20px; margin-bottom: 20px">
      {% block content %} {% endblock content %}
    </main>

    <footer style="margin-top: 30px">Build using FastAPI | Rahul Dey</footer>
  </body>
</html>
